.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    padding: 13% 3%;
}

.modal {
    background-color: #fff;
    border-radius: 60px;
    max-width: 60vw;
    padding : 5% 14%;
    margin: 0 auto;
    text-align: center;
}
.modalFooter{
    text-align: center;
    padding: 4%;
}