body {
  padding: 0;
  font-family: sans-serif;
  // border: 5px solid rgba(16, 224, 9, 0.801);
  background: #f4f4f4;
  padding: 5% 0%;
}

.clear {
  clear: both;
  content: "";
}
.game {
  // border: 5px solid rgba(73, 9, 224, 0.801);
  padding: 5% 0%;
  width: 90%;
  margin:0 auto;
}
.grid{
  // border: 5px solid rgb(224, 9, 9);
  padding: 5% 0%;
  width: 90%;
  margin:0 auto;
}

.cell {
  background: #adadad73;
  line-height: 30px;
  // border: 1px solid rgb(255, 255, 255);
  // box-shadow: 2px 8px 4px 2px #0ff;
  float: left;
  height: 33px;
  line-height: 35px;
  text-align: center;
  width: 33px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  color : rgb(207, 207, 207); 
}
.turnOfp1{
  box-shadow: 0.5px 0.5px 2px 1px #00628b;
}
.turnOfp2{
  box-shadow: 0.5px 0.5px 2px 1px #8f0101;
}
.regular1 { opacity: 0.3; }
.regular2 { opacity: 0.6; }
.regular3 { opacity: 1; }
.edge1{ opacity: 0.5; }
.edge2{ opacity: 1; }
.corner1{ opacity: 1; }

.p1{
  background: #00628b;
}
.p2{
  background: #8f0101;
}

