body {
  padding: 0;
  font-family: sans-serif;
  background: #f4f4f4;
}
.clear {
  clear: both;
}
.game {
  padding: 1vmin 1vmin;
  width: 80vmin;
  margin:0 auto;
}

.box{
  text-align: center;
  margin: 0 auto;
  
}

.grid{
  padding: 3vmin 0%;
  width: 90%;
  margin:0 auto;
}

.game-head {
    margin: 0 auto;
    background: #19a0d9;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 2vmax;
    border-radius: 1vmax;
    padding: 1.5vmin;
  }

.cell {
  background: #adadad73;
  float: left;
  height: 8vmin;
  line-height: 8vmin;
  text-align: center;
  width: 8vmin;
  border-radius: 1.5vmin;
  color: rgb(192, 192, 192);
  font-size: 5vmin; 
}
.rules-para{
  text-align: initial;
}
.turnOfp1{
  box-shadow: 0.5px 0.5px 2px 1px #00628b;
}
.turnOfp2{
  box-shadow: 0.5px 0.5px 2px 1px #8f0101;
}
.regular1 { opacity: 0.3; }
.regular2 { opacity: 0.6; }
.regular3 { opacity: 1; }
.edge1{ opacity: 0.5; }
.edge2{ opacity: 1; }
.corner1{ opacity: 1; }

.p1{
  background: #00628b;
}
.p2{
  background: #8f0101;
}

